*{
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    /*outline: 1px solid red;*/
    overflow: hidden;
    padding: 0;
    text-align: center;
}

ul{
    outline: 1px solid yellow;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    line-height: 42px;
}


hr {
    clear: left;
}

li {
    /*outline: 1px solid blue;*/
    display: inline-block;
    /*float: left;*/
    margin: 5px 15px;
    
}

header ul li span {
    font-size: 22px;
    color: #b5b5b5;
}

header ul li.search span {
    font-size: 17px;
    color: black;
}

.icon-search {
    position: relative;
    left: -380px;
}

.icon-close {
    position: relative;
    left: 380px;
}

.bar-text {
    margin: 0;
    position: relative;
    left: 400px;
}

.search div {
    display: inline-block;
}

.circle{
    display: inline-block;
    width: 38px;
    height: 38px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #BD081C;
}

.icon-pinterest {
    color: white;
    font-size: 20px;
}

.search {
    width: 965px;
    height: 40px;
    border-radius: 5px;
    background: #efefef;
    position: relative;
}

.bar-submenu div {
    display: inline-block;
}