*{
    font-family: 'Source Sans Pro', sans-serif;
}

ul{
    list-style: none;
}

li {

}

.circle{
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #BD081C;
}

.icon-pinterest {
    color: white;
    font-size: 25px;
}

.search {
    width: 965px;
    height: 40px;
    border-radius: 5px;
    background: #efefef;
}