@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?32d592');
  src:  url('fonts/icomoon.eot?32d592#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?32d592') format('truetype'),
    url('fonts/icomoon.woff?32d592') format('woff'),
    url('fonts/icomoon.svg?32d592#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-user:before {
  content: "\f007";
}
.icon-down:before {
  content: "\f078";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
